<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<HTML>
<HEAD>
    <TITLE>EventeX</TITLE>
</HEAD>
  <BODY background="{{ STATIC_URL }}img/fundo.jpg">
    <H1>
	<CENTER>
            <IMG src="{{ STATIC_URL }}img/eventex.png" width=350>
	</CENTER>
    </H1>
    <HR width="100%" align="center" size="5" color="BLACK">
    <CENTER>
    <BR>
        <TABLE BORDER=2 background="{{ STATIC_URL }}img/fundo.jpg" align="center" width="55%" cellspacing="6" cellpadding="6">
            <CAPTION><B><FONT size="6" face="tahoma" color=SILVER>Bem-vindo ao EventeX!</FONT></B><BR><BR><BR></CAPTION>
            <TR></TR>
            <TR></TR>
            <TR>    
                <TD align="center" bgcolor="SILVER">O evento mais sensacional do ano depois do Dev in Rio!</TD>
            </TR>
            <TR></TR>
            <TR></TR>
            <TR>    
                <TD align="center" bgcolor="SILVER">Você não pode perder esta oportunidade!</TD>
            </TR>
            <TR></TR>
            <TR></TR>
            <TR>    
                <TD align="center" bgcolor="SILVER">Abertura das inscrições em <B>15/05/2011</B>.</TD>
            </TR>
            <TR></TR>
            <TR></TR>
            <TR></TR>
            <TR>    
                <TD align="center" bgcolor="SILVER">Para dúvidas e mais informações entre em contato com <U><FONT color="BLUE">eventex@eventex.com.br</FONT></U></TD>
            </TR>
            <TR></TR>
        </TABLE>
    </CENTER>
    <BR>
    <HR width="100%" align="center" size="5" color="BLACK">
    <P> © 2011. Eventex, some rights reserved.
        <A href="http://www.djangoproject.com/"><IMG src="http://media.djangoproject.com/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." align="right"/></A>
    </P>
  </BODY>
</HTML>